*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* .................................................................................................... */
@media screen and (max-width:1050px){
    .intro-container2>img{
        width:100% !important;
    }
}

@media screen and (max-width:750px) {
    .intro-container1>button{
        width: 50% !important;
    }
    #nav-mid>ul>a{
        margin:0px 0.7em !important;
        font-size: 1.3rem !important;
    }
    #nav-left > h1{
        font-size: 1.6rem !important;
        font-weight: bolder;
    }
    #nav-right>a{
        font-size: 1.3rem !important;
    }
    .element1>a>img{
        width:50% !important;
    }
    .element1>a{
        width:50%;
    }
    .footer{
        flex-direction: column;
        align-items: center !important;
    }
    .element1{
        width:100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .element2{
        display: grid;
        place-items:center;
    }
    .element2>*{
        margin:0.5em 0px;
        text-align: center;
    }
    .element3{
        margin-top: 1em;
    }



}
@media screen and (max-width:650px){
    .intro-container2{
        display: none !important;
        
    }
    .intro-container1{
        margin-left:3em !important;
    }
    #nav-mid>ul>a{
        margin:0px 0.4em !important;
    }

}

@media screen and (max-width:550px){
    #nav-mid>ul>a{
        margin:0px 0.5em !important;
        font-size: 1.1rem !important;
    }
    #nav-left > h1{
        font-size: 1.3rem !important;
        font-weight: bolder;
    }
    #nav-right>a{
        font-size: 1.1rem !important;
    }
    .element1>a>img{
        width: 90% !important;
    }


}

@media screen and (max-width:450px){
    .intro-container1{
        margin-left:2em !important;
    }
    #nav-mid>ul>a{
        display: none !important;
    }

}
@media screen and (max-width:300px){
    .intro-container1{
        margin-left:1em !important;
    } 
}








/* .................................................................................................. */

nav{
    background-color:white;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(48, 45, 45);
    box-shadow: 0 0 3px 3px rgb(157, 152, 152);
    position: sticky;
    top:0;
    z-index: 100000;
}
.center{
    display: grid;
    place-items: center;
}
#nav-left > h1{
    font:bolder 2rem sans-serif;
    color:rgb(181, 17, 17);
}
#nav-mid >ul{
    display: flex;
    list-style: none;
}
#nav-mid>ul>a{
    box-sizing: border-box;
    text-decoration: none;
    margin:0px 1em;
    font-size: 1.5rem;
    color: black;
    font-weight: bolder;
}
#nav-mid>ul>a:focus{
    transition-duration: 4s;
}
#nav-right{
    display: flex;
}
#nav-right>a{
    text-decoration: none;
    margin: 0px 0.5em;
    font-size: 1.5rem;
    color: black;
    font-weight:bold;
}
#nav-mid>ul>a>li:hover{
    border-bottom: 2px solid rgb(96, 94, 94);
    transition-duration: 0.1s;
}
#nav-right>a:hover{
    transform: translateY(2px);
    color: blue;
    transition-duration: 0.1s;
}
/* ..................................................................................................... */

.intro{
    height:90vh;
    background-color:rgb(130, 130, 216);
    width: 100%;
    display: flex;   
    margin-bottom: 1em; 
}
.intro-container1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left:4em;
}
.intro-container1>h1{
    font-size: 3.5rem;  
    color: rgb(234, 22, 22);  
}
.intro-container1>h3{
    /* margin:0px 4.5em; */
    text-align: start;
}
.intro-container1>p{
    margin-top:1.5em;

}
.intro-container1>button{
    width:30%;
    margin-top:1.5em;
    border-radius: 20px;
    border:none;
    padding:1em;
    cursor: pointer;
    background-color: rgb(181, 87, 87);
    color:white;
    font-weight: bold;
}
.intro-container1>button:hover{
    transform: translateX(3px);
    background-color: red;
    transition-duration : 0.5s;
}

.intro-container2{
    display: flex;
    justify-content: flex-end;
    width:50%;
    margin-right:1em;
}
.intro-container2>img{
    margin:1em 0px;
}
/* ..................................................................................................... */

.products{
    height: auto;
    display: flex;
    flex-direction: column;
}
.products>h2{
   margin-top:1em;
   margin:auto;
   text-align: center;
   width:15%;

}
.products>h2:hover{
    transition-duration: 0.1s;
}

.product-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4em 0px;

}
.product{
    display: flex;
    flex-direction: column;
    width:25%;
    margin:1em;
    transition-duration: 0.3s;
    border:1px solid black;
    cursor: pointer;
}
.product>img{
    width:100%;  
}
.product>h5,.product>p{
    text-align: center;
    margin-top:0.5em;
}
.product:hover{
    transform: translateY(-6px);
    transition-duration: 0.5s;
    box-shadow: 0 0 2px 2px grey;
}

/* ..................................................................................................... */

.footer{
    display: flex;
    width: 100%;
    background-color: rgb(6, 5, 5);
    padding:2em 1em;
    color: white;
}
.element1{
    width: 20%;
    margin:0px 1em;
}
.element1>*{
    margin:0.7em 0px;
    text-align: center;
}
.element1>a>img{
    width:50%;
    display: block;
    margin: auto;
    margin-top: 1em;
}
.element2{
    width: 60%;
    display: grid;
    place-items:center;
}
.element2>h1{
    color:rgb(181, 17, 17);
}
.element3{
    width:20%;
    
}
.element3>*{
    margin:0.7em 0px;
}

.social-links>a,h4{
    text-decoration: none;
    color: white;
    display: block;
    margin-top:0.5em;
}
.social-links>a:hover{
    color: rgb(139, 139, 210);
}









