*{
    margin: 0px ;
    padding: 0px;
    box-sizing:border-box ;
}
body{
    background-color: pink;
}
 @media (max-width:400px){
  .column{
    display: flex;
    flex-direction: column;
  }
  div.col{
     margin: 0.2em 1em;
  }
 }
h1{
    font-size:3rem;
    text-align: center;
    margin: 0.6em 0px;
}
span{
    color: #B7832F;
}
h2{
    font-size: 1.5rem;
    color: #707070;
}
p{
    font-size: 1.125rem;
}
img{
    width: 100%;
}
.container{
    max-width: 980px;
    margin: 0px auto;
   
}
.column{
    display: flex;
    width:100%;
    margin:1em 0px;
}
.col{
    margin:0px 1em;
}
.bg{
    background-color: #312614;
    color: white;
    padding: 0.5em 0.5em;
}
