*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    font-family: ; 
    box-sizing: border-box;   
}

body{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width:960px) {
    button#submit-request{
        display:none !important;
    }
}
@media screen and (max-width:750px){
    .container{
        font-size: 1rem !important;
    }
    .c-item{
        flex-direction: column;
    }
    .header-data h1{
        font-size:2.5rem !important;
    }
    .search{
        width:40%;
    }
}
@media screen and (min-width:350px) and (max-width:600px){
    html{
        font-size: 0.7rem;
    }
}


header{
    width: 100%;
    max-height:70vh;
}
.nav-bar{
    background-color: black;
    width: 100%; 
    min-height:5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-intro{
    margin-left:8em;
}
.nav-intro a{
    font-size:1.8rem;
    color: white;
    margin: 0.2em;
}
a.logo-name{
    border-right: 2px solid white;
}
.nav-buttons{
    margin-right:7em;
}
.nav-buttons button{
    margin:0px 0.2em;   
}
.button-decor{
    font-size:1.5rem;
    color: white;
    font-weight:300;
    border-radius:7px;
    padding: 0.3em 1em;
}
button#submit-request{
    background-color: rgb(46, 44, 44);  
    cursor: pointer; 
}
button#sign-in{
    background-color: #4C5FD5;
    border-color:#4C5FD5;
}
/*hOVER PROPERTIES */
button#sign-in:hover{
    background-color: white;
    color:black;
    border-color: white;
}
.transition:hover{
    transition-property: background border;
    transition-duration:0.3s;  
    cursor: pointer;
}
.nav-intro a.logo-name:hover{
    color:rgb(130, 127, 127); 
}
.nav-intro a.help:hover{
    border-bottom: 2px solid white;
}
.header-data{
    background-color: #dadbf1;
    min-height:400px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-bottom:0.2em;
}
.search{
    background-color: white;
    border:2px solid rgb(150, 148, 148);
    border-radius: 5px;
    width:50%;
    padding:1em 1em;
    box-shadow: 0px 0px 5px rgb(139, 136, 136);
    overflow: hidden;
}
.search input[type="search"]{
    border: none;
    width:94%;
    font-size:2rem;
    outline:none;
    
}
.search button{
    border: none;
    background-color:white;
}
form{
    display: flex;
    flex-direction: row;
    width:100%;
}
i{
    font-size:2rem;
    transition-property: translate;
    transition-duration: 0.5s;
    margin-bottom: 0.1em;
}
i:hover{
    translate:0.4rem;
    cursor: pointer;
}
.search:hover{
   border: 2px solid #4C5FD5;
   box-shadow: 0px 0px 5px #5469ee;
   
}

/*                         CONTAINER CSSS                                             */

.container{
    font-size:1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5em 0px;
}
.c-item{
    display: flex;
    margin-bottom: 2em;
    gap:4em;
}

.container img{
    width: 70px;
    height: 70px;
    margin-right:1.5em;
}
.c-data{
    width:20rem;
    display: flex;
}
.container h3{
    margin-bottom: 0.7em;
}
.container div.about div{
    margin-top: 0.7em;
}

/* FOOTER CSS */
.flex-footer{
    flex: 1;  /* for sticky footer */
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 24, 24);
}
.footer-flex-decor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1.5em;
}
.footer-flex-decor ul{
    list-style: none;
}
.footer-flex-decor li a{
    color: white;
}
.main-footer{
    margin: 1.5em 0px;
    padding-bottom: 2em;
    border-bottom: 1px solid white;
}
.ft-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
    margin-bottom: 1em;
}
.stay-updated p{
    color: bisque;
    margin-bottom: 0.7em;
}
.stay-updated form input{
    padding:0.4em;
    outline: none;
}
input.subscribe{
    background-color:green;
    color: wheat;
    outline: none;
}
.ft-social-list{
   display: flex;
   justify-content: space-evenly;
}
.ft-social-list li{
    margin: 0px 1em;
}
.ft-legal-list{
    display: flex;
   justify-content: space-evenly;
}
.ft-legal-list li{
    margin: 0px 1em;
}




























